# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
1. Python 
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas 
2. Numpy
3. Matplotlib

| Data Science Tools |
| --------------|
| Pandas |
| Numpy |
| Matplotlib |

#### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
t = 200
time_in_hours = t/60
print(time_in_hours)

3.3333333333333335

#### Objectives:

List of popular languages for data science :
1. Python
2. SQL
3. R

List of tools for visualization :
1. Microsoft PowerBI
2. Tablaue

## Author 
Tejas K. Nandankar